In [54]:
#pip install pandas

In [41]:
import pandas as pd

In [ ]:
df = pd.read_csv('c:/Users/ayhan/WeatherPipeline/export/weather2010_2019_helsinki.csv', sep=',')

In [59]:
df.tail()

,date,temperature_2m,rain,snowfall,sunshine_duration,soil_temperature_0_to_7cm,weather_code,relative_humidity_2m,precipitation
14603,2019-12-30 16:00:00+00:00,4.772,0.2,0.0,0.0,3.822,51.0,92.58248,0.2
14604,2019-12-30 22:00:00+00:00,4.122,0.0,0.0,0.0,3.822,0.0,84.97684,0.0
14605,2019-12-31 04:00:00+00:00,3.122,0.0,0.0,0.0,3.822,0.0,85.16989,0.0
14606,2019-12-31 10:00:00+00:00,1.822,0.0,0.0,0.0,3.822,3.0,77.87982,0.0
14607,2019-12-31 16:00:00+00:00,0.722,0.0,0.0,0.0,3.822,0.0,69.47231,0.0

In [61]:
print(df.dtypes)

date                          object
temperature_2m               float64
rain                         float64
snowfall                     float64
sunshine_duration            float64
soil_temperature_0_to_7cm    float64
weather_code                 float64
relative_humidity_2m         float64
precipitation                float64
dtype: object

In [63]:
df.date = pd.to_datetime(df.date)

In [65]:
print(df.dtypes)

date                         datetime64[ns, UTC]
temperature_2m                           float64
rain                                     float64
snowfall                                 float64
sunshine_duration                        float64
soil_temperature_0_to_7cm                float64
weather_code                             float64
relative_humidity_2m                     float64
precipitation                            float64
dtype: object

In [67]:
print(df.shape[0])

14608

In [69]:
from sqlalchemy import create_engine

In [103]:
engine = create_engine('postgresql://root:root@localhost:5432/WeatherHelsinki')

In [105]:
print(pd.io.sql.get_schema(df, name='Weather_helsinki_table', con=engine))

CREATE TABLE "Weather_helsinki_table" (
	date TIMESTAMP WITH TIME ZONE,
	temperature_2m FLOAT(53),
	rain FLOAT(53),
	snowfall FLOAT(53),
	sunshine_duration FLOAT(53),
	soil_temperature_0_to_7cm FLOAT(53),
	weather_code FLOAT(53),
	relative_humidity_2m FLOAT(53),
	precipitation FLOAT(53)
)

In [107]:
df_iter = pd.read_csv('weather2010_2019_helsinki.csv', iterator=True, chunksize=10000)

In [109]:
df = next(df_iter)

In [111]:
len(df)

10000

In [113]:
df.date = pd.to_datetime(df.date)

In [115]:
df

,date,temperature_2m,rain,snowfall,sunshine_duration,soil_temperature_0_to_7cm,weather_code,relative_humidity_2m,precipitation
0,2009-12-31 22:00:00+00:00,-10.6805,0.0,0.07,0.000,-1.8805,71.0,87.295600,0.0
1,2010-01-01 04:00:00+00:00,-9.9805,0.0,0.21,0.000,-1.8805,71.0,86.323875,0.1
2,2010-01-01 10:00:00+00:00,-10.9305,0.0,0.00,0.000,-1.8805,3.0,84.836220,0.0
3,2010-01-01 16:00:00+00:00,-13.2805,0.0,0.00,0.000,-1.8805,3.0,84.548550,0.0
4,2010-01-01 22:00:00+00:00,-16.0805,0.0,0.00,0.000,-1.8805,3.0,84.911080,0.0
...,...,...,...,...,...,...,...,...,...
9995,2016-11-03 16:00:00+00:00,-1.6305,0.0,0.00,11459.671,0.7195,3.0,70.844980,0.0
9996,2016-11-03 22:00:00+00:00,-2.6805,0.0,0.00,0.000,0.4195,2.0,83.232940,0.0
9997,2016-11-04 04:00:00+00:00,-2.6805,0.0,0.00,0.000,0.2195,3.0,81.671330,0.0
9998,2016-11-04 10:00:00+00:00,-0.7305,0.0,0.00,3371.449,0.2695,3.0,71.297690,0.0
9999,2016-11-04 16:00:00+00:00,-2.0305,0.0,0.00,5236.039,0.2695,2.0,79.027340,0.0

In [117]:
df.head(n=0).to_sql(name='Weather_helsinki_table', con=engine, if_exists='replace')

0

In [119]:
%time df.to_sql(name='Weather_helsinki_table', con=engine, if_exists='append')

Wall time: 1.17 s

1000

In [121]:
from time import time

In [123]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.date = pd.to_datetime(df.date)
    
    df.to_sql(name='Weather_helsinki_table', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 1.160 second

StopIteration:

In [125]:
df_weather_code = pd.read_csv('ecmwf_weather_codes.csv')

In [127]:
df_weather_code.head()

   Code      Description
0     0        Clear sky
1     1  Slightly cloudy
2     2    Partly cloudy
3     3         Overcast
4    45        Light fog

In [129]:
df_weather_code.to_sql(name='weather_codes', con=engine, if_exists='replace')

20